#container{
    background-color: skyblue;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
    font-size: 2em;
    flex-basis: 50px;
border: 10px black solid;
    
    
    
    
}

#voilet{
    background-color: violet;
width: 100px;
height: 100px;
/* flex-direction: row; */
text-align: center;
flex-basis: 500px;
flex-grow: 2;
min-width: 400px;
}

#red{
    background-color: red;
width: 300px;
height: 100px;
flex-basis: 500px;
}

#indigo{
    background-color: indigo;
width: 300px;
height: 100px;
flex-basis: 500px;

}
#blue{
    background-color: blue;

width: 100px;
height: 100px;
flex-basis: 500px;
}

#green{
    background-color: green;

    width: 100px;
height: 100px;
flex-basis: 500px;
}
#yellow{
    background-color: yellow;
    width: 100px;
height: 100px;
flex-basis: 500px;
}
#orange{
    background-color: orange;
    width: 300px;
height: 100px;
flex-basis: 500px;
}