
/* h1 {
    color: green;
    background-color: palevioletred;
    

}

button{
    color:white ;
    background-color: blue;
     animation: arr 5s infinite;
}

h2 {
    color: orange;
    background-color: rgb(255, 0,25);
     animation: arr 4s infinite;
}

p{
    background-color: black;
    color:white;
     animation: arr 2s infinite;
}

h3{
    color: rgb(255,255, 255);
    background-color: #0000ff;
    animation: arr 1s infinite;
    animation: name duration timing-function delay iteration-count direction fill-mode;
    
} */

/* @keyframes arr{
    10%{
        background-color: red;
    }
    20%{
        background-color: yellow;
    }
    50%{
        background-color: aquamarine;
    }
    20%{
        background-color: chartreuse;
    }

} */

h5{
    text-align: center;
    background-color: #0000ff;
    /* justify-content: center; */
    
    border:solid;
    width: 100%;   
}


/* text decorat */

/* h1{ */
    text-decoration: red underline;
    line-height: 0.5;
}

/* text decorarion through uses of line cut  */

p{
    text-decoration:wavy burlywood line-through;
    line-height: 1.5;
    font-weight: 650;
    letter-spacing: 1px;
    
}

h1{
    font-family: league spartan;
    text-align: center;
    font-size: 55px;
    font-weight: 900;
    letter-spacing: 2px;
    line-height: 1.5x;
    
    
  text-transform: uppercase;
  

   



    text-decoration:skyblue double underline;
    color: #ffa511;
}