#one{
    text-align: center;
    font-size: 30px;
    padding-top:35px;
    height: 70px;
    width: 30%;
    margin: 2%;
background-color: green;
border: solid 5px black;
/* transform: rotate(45deg); */

}

#two{
    margin: 2%;
    text-align: center;
    font-size: 30px;
    padding-top:35px;
    height: 70px;
    width: 30%;
background-color: red;
border: solid 5px black;
/* transform: rotate(90deg); */
}

#three{
    margin: 2%;
    text-align: center;
    font-size: 30px;
    padding-top:35px;
    height: 70px;
    width: 30%;
background-color: green;
border: solid 5px black;

}

#four{
    text-align: center;
    font-size: 30px;
    padding-top:35px;
    height: 70px;
    width: 30%;
    margin: 2%;
background-color: blueviolet;
border: solid 5px black;

}

#five{
    text-align: center;
    font-size: 30px;
    padding-top:35px;
    height: 70px;
    width: 30%;
background-color: red;
border: solid 5px black;
margin: 2%;
/* transform: skew(90deg); */
/* transform: rotate(45deg); */
/* translate:(150px); */
/* shadow */
box-shadow: 2px 2px 10px green;
    


}